@import url('https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap');

$darker_colour: #580658; 
$lighter_colour:rgb(240, 185, 194);

*{
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-image: url(/assets/texture.png), linear-gradient(-135deg , $darker_colour  0%, $lighter_colour  100%);
    font-size: 16px;
}

.list-group-item-action{
    width: 90%;
    height: 100%;
    position: relative;
    top: 130px;
    margin: 0 auto;
}
.container{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    width:50%;
    max-width: 75em;
    height: 35em;
    max-height: 90%;
    background-color: #ffffff;
    margin:  auto;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 18px #333;

    .text{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 100%;

        .align{
            width:60%;

            .introduction{
                font-family:'Grand Hotel', sans-serif;
                font-size: 2.8em;
                color: #808080;
            }
        
            .name{
                width: 60%;
                height: 100%;
                font-family:'Grand Hotel', sans-serif;
                font-size: 7.5em;
            }
            
            .links{
                display: flex;
                justify-content:space-between;
                padding-top: 5em;
                a{
                    text-decoration: none;
                    font-size: 2.4em;
                    color:$lighter_colour;  
                    transition: color linear 0.5s;  
                    
                    &:hover{
                        color:$darker_colour;     
                    }
                }
            }
        }
    }
    
    .image {
        width:40%;
        height: 100%;
        background-image: url(/assets/image.jpg);
        background-size: cover;
        background-position: top center;
    }
}

// *** Media Queries ***

@media only screen and(max-width:1024px){
    .container{
        width: 85%;
        flex-direction: column-reverse;
        .image{
            width:100%;
            height: 30%;
            background-position: center 20%;
        }
        .text{font-size: .5em;
            width: 100%;
            height:70%;

            .align .links{
                padding-top: 1em;
                flex-wrap: wrap;
                font-size: 2.8em;
                
                a {
                    margin-right: 0.3em;
                }
            }
        }
    } 
} 